*.o
teapot
triangle
/*.png
build/
__pycache__/
!docs/*.png
build_spirv2llvm
teapot_spirv
teapot_tex
build_light.*
pipeline_*.bin
pipeline_*.spv
pipeline_*.ll
pipeline_*.s
pipeline_*.s.raw
teapot_pipeline
build_spirv2llvm
